@import url(https://fonts.googleapis.com/css?family=Montserrat);
html {
  height:100%;
}
body {
    color:#fff;
    height:100%;
    background-color:white;
    font-family: Cambria, sans-serif;
}
.form {
  color:black;
  margin:0.1em;
}
.subheading {
  color: #999;
  font-size:1.5em;
}
.sidebar {
  text-align:center;
  width:20em;;
  float:left;
  padding:4px;
  height:100vh;
  background-color:#644172;
}

.main {
  width: 90em;
  background-color: #fff;
  float:left;
  text-align: center;
  margin:0 auto;
}

h1 {
  font-size: 4em;
  font-weight: normal;
  color: #644172;
}
.li {
  font-size:3em;
}
.dateTime {
  font-size:2.405em;
}
.prefix {
  text-align:left;
  color:#999;
  padding:0;
  position:relative;
  top: 45px;
  left: 35px;
}
.wrapper {
  width:100%;
}

.suffix {
  text-align:right;
  color:#999;
  padding:0;
  position:relative;
  top:-40px;
}
.lead {
  margin:0 auto;
  width:35em;
}

.hide {
  display: none;
}

.button {
  width: 10em;
  height: 3em;
  color:#644172;
  background-color:#fff;
  border: 1px solid white;
  border-radius:1.5em;
  font-family:Montserrat, sans-serif;
  margin: 2%;
}
button {
  color:#644172;
  background-color:#fff;
  border: 1px solid white;
  border-radius:1.5em;
  margin: 1%;
}

.list {
  margin:0 auto;
  position:relative;
  top:-50px;
}
.content-main {
   width:19em;
  height:10em;
  margin: 1em;
   float:left;
    list-style:none;
}

@media screen and (max-width:1785px) {
  .main {
    width:40em;
  }
}

@media screen and (max-width:1500px) {
  .sidebar{
    float:none;
    width:100%;
    height:100%;
  }
  .main {
    width:100%;
    float:none;
  }
  .lead {
    width:90%;
  }
  .content-main {
    float:left;
    text-align:center;
  }
}